/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a2e;
}

::-webkit-scrollbar-thumb {
  background: #75c4f9;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #147ec7;
}
